/* General Styling */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Anton;
    color: #fff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar nav a {
    margin: 0 15px;
    color: #fff;
    font-size: 1.2rem;
}


.navbar nav .btn {
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid #fff;
    color: #EC1B2E
}


/* Hero Section */
.hero {
    background: url(hero.png);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottomleft {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
}

.bottomleft .line {
    font-size: 8rem;
    line-height: 1.1;
    margin: 0;
    font-weight: bold;
}

/* To book section */
.book {
    background: #EC1B2E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}

.book .topmiddle {
    position: relative;
    top: 50px; 
    text-align: center;
    margin-bottom: 50px;
}

.book .topmiddle .line {
    font-size: 5rem;
    line-height: 1.1;
    margin: 0;
    font-weight: bold;
}

.book .middle {
    position: absolute;
    align-items: center;
    bottom: 250px;
    width: 60%; /* limits width of text box */
    font-size: 1.2rem;
}

.book .buttons {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 80px; /* space between the buttons */
}

/* Workout section */
.workout-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('workout.png');
    background-size: cover; 
    background-position: center;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px; 
  }
  
  /* main title */
  .main-title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 7rem;
    color: #ec1b2e;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1; 
    margin: 0;
    max-width: 350px; 
  }
  
  .subtitle {
    position: absolute;
    bottom: 5%; 
    width: 40%; 
    left: 5%;
    font-size: 1.5rem; 
    line-height: 1.5;
  }
  
  .routine-table {
    position: absolute;
    top: 15%; 
    right: 5%;
    width: 45%; 
    color: white;
    border-spacing: 0 10px; 
  }
  
  .routine-title {
    font-size: 2.5rem; 
    color: #EC1B2E;
    padding-right: 30px; 
    text-align: left;
    vertical-align: top;
    width: 40%; 
  }
  
  .routine-description {
    font-size: 1.3rem; 
    line-height: 1.4; 
    text-align: left;
    width: 60%; 
  }
  
/* mascot section */
.mascot {
    background: url(mascot.png);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    padding-left: 20px; 
  }
  
  /* text box */
  .text-box {
    width: 80%;
    text-align: left;
    margin-top: 100px; 
  }
  
  /* title */
  .text-box h1 {
    font-size: 6rem;
    text-transform: uppercase;
    margin: 0; 
  }
  
  /* subtitle */
  .text-box .text {
    font-size: 1.3rem;
    line-height: 1.5;
    width: 40%;

  }
  
  /* button */
  .text-box .btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

  